.items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding: 5px 10px;
}
.cart-container {
  height: 60vh;
  position: sticky;
  top: 0;
  right: 0;
}

@media screen and (max-width: 688px) {
  .items-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
