
.item-style img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}
.item-style button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 158, 70);
  color: white;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
}
.item-style p {
  padding-top: 10px;
}
.item-style button img {
  width: 20px;
  height: 20px;
}
.item-style button:hover {
  background-color: white;
  color: rgb(70, 158, 70);
  border: 2px solid rgb(70, 158, 70);
  border-radius: 10px;
}
